.modal {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(6px);

  opacity: 1;

  /* keyframe para animar a abertura - de cima p/ baixo  - A ANIMAÇÃO ESTÁ NO UTILITYS */
  animation: slideInDownModal 0.2s normal;

  /* suavizar a transição */
  transition: all 0.3s ease-in-out;
  pointer-events: all;
}

.modal.hide {
  opacity: 0;
  pointer-events: none;
}

.modal-wrapper {
  --max-width: 375px;

  width: min(var(--max-width), 100% - var(--px-xl) * 2);
  margin-inline: auto;

  margin-top: 5rem;

  background-color: var(--background-tertiary);
  border-radius: 0.75rem;

  padding: 8px 20px 40px 20px;

  z-index: 10;

  /* suavizar a transição */
  transition: all 0.3s ease-in-out;

  /* keyframe para animar a abertura - de cima p/ baixo  - A ANIMAÇÃO ESTÁ NO UTILITYS */
  animation: slideInDown 1s normal;

  & .modal--header {
    display: flex;
    flex-direction: column;

    & p {
      font-size: var(--fs-sm);
    }
  }

  & .close-modal {
    display: flex;
    margin-left: auto;

    background-color: transparent;
    border: none;

    cursor: pointer;

    margin-right: -15px;
  }
}

@media (width > 60em) {
  .modal-wrapper {
    --max-width: 477px;
    margin-top: 2rem;
  }
}

@keyframes slideInDownModal {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
