.input-wrapper {
  width: fit-content;
  height: 3rem;

  border: 1px solid var(--border-primary);
  padding: 0.87rem 0.75rem;
  border-radius: 0.5rem;

  display: flex;

  & i {
    margin-right: 0.5rem;
  }
}

/* webkit para alterar o padrão do icone de calendario do input */
::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/icons/arrow-down.svg") no-repeat;
}

input {
  font-family: var(--ff-inter);
  background-color: transparent;
  color: var(--content-secondary);
  border: none;
  outline: none;
  font-size: var(--fs-base);
}

input[type="date"] {
  flex: 1;
}
