.container {
  --max-width: 375px;

  width: min(
    var(--max-width),
    100% - var(--px-xl) * 2
  ); /* Garante margens laterai para evitar que o conteúdo encoste nas bordas da tela  */

  margin-inline: auto;

  padding-top: 0.75rem;
  margin-top: 3rem;

  position: relative;

  animation: slideInDown 2.5s normal;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
